{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Vegon Template,">

	<!-- title -->
	<title>Vegon Store</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="% static'assets/img/favicon.png' %">
	<!-- google font -->
	<link href="% static'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' %" rel="stylesheet">
	<link href="% static'https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap' %" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="% static'assets/css/all.min.css' %">
	<!-- bootstrap -->
	<link rel="stylesheet" href="% static'assets/bootstrap/css/bootstrap.min.css' %">
	<!-- owl carousel -->
	<link rel="stylesheet" href="% static'assets/css/owl.carousel.css' %">
	<!-- magnific popup -->
	<link rel="stylesheet" href="% static'assets/css/magnific-popup.css' %">
	<!-- animate css -->
	<link rel="stylesheet" href="% static'assets/css/animate.css' %">
	<!-- mean menu css -->
	<link rel="stylesheet" href="% static'assets/css/meanmenu.min.css' %">
	<!-- main style -->
	<link rel="stylesheet" href="% static'assets/css/main.css' %">
	<!-- responsive -->
	<link rel="stylesheet" href="% static'assets/css/responsive.css' %">

</head>
<body>
	
	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="% static'index.html' %">
								<img src="assets/img/favicon.png" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="#"><a href="#">Home</a></li>
								<li><a href="#">About</a></li>
								<li><a href="#">Pages</a></li>
								<li><a href="#">News</a></li>
								<li><a href="#">Contact</a></li>
								<li><a href="#">Shop</a></li>
								<li>
									<div class="header-icons">
										<a class="shopping-cart" href="#"><i class="fas fa-shopping-cart"></i></a>
										<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
									</div>
								</li>
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->
	<!-- hero area -->
	<div class="hero-area hero-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 offset-lg-2 text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							
							<h1>Our Vegan Store!</h1>
							<div class="hero-btns">
								<a href="#" class="boxed-btn">Vegan Collection</a>
								<a href="#" class="bordered-btn">Contact Us</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end hero area -->
<!-- product section -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="Description" content="Enter your description here"/>
        <link rel="stylesheet" href= "{ % static 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{ %staic 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css' %">
        <link rel="stylesheet" href="{ %staic 'style.css' %">
        <title>Responsive Cards Design usign html CSS and Bootstrap | CoderRishad</title>
    </head>
    <body>
        <section id="wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card_area">
                            <div class="single_card">
                                <h2>01</h2>
                                <h3>Step 01</h3>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam placeat eveniet, magnam dicta libero dolore molestias quae deserunt velit nihil!
                                </p>
                                <a href="#" class="btn card_btn1">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card_area">
                            <div class="single_card">
                                <h2>02</h2>
                                <h3>Step 02</h3>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam placeat eveniet, magnam dicta libero dolore molestias quae deserunt velit nihil!
                                </p>
                                <a href="% static'https://github.com/coderrishad/navigation_bar1/archive/refs/heads/main.zip' %" class="btn card_btn2">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card_area">
                            <div class="single_card">
                                <h2>03</h2>
                                <h3>Step 03</h3>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam placeat eveniet, magnam dicta libero dolore molestias quae deserunt velit nihil!
                                </p>
                                <a href="#" class="btn card_btn3">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script src="% static'https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js' %"></script>
        <script src="% static'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js' %"></script>
    </body>
</html>

	<!-- features list section -->
	<div class="list-section pt-80 pb-80">
		<div class="container">
				<div class="row">
					<div class="col-lg-8 offset-lg-2 text-center">
						<div class="section-title">
							<h5>Fresh Food</h5>
							<h3><span class="orange-text">Our Vegan</span> Store!</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
						</div>
					</div>
				</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-shipping-fast"></i>
						</div>
						<div class="content">
							<h3>Free Shipping</h3>
							<p>When order over $75</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-phone-volume"></i>
						</div>
						<div class="content">
							<h3>24/7 Support</h3>
							<p>Get support all day</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="list-box d-flex justify-content-start align-items-center">
						<div class="list-icon">
							<i class="fas fa-sync"></i>
						</div>
						<div class="content">
							<h3>Refund</h3>
							<p>Get refund within 3 days!</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- end features list section -->

	<!-- product section -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h5>Fresh Food</h5>
						<h3><span class="orange-text">Our Vegan</span> Shop!</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
					</div>
				</div>
			</div>
	
	<!-- testimonail-section -->
	<div class="testimonail-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1 text-center">
					<div class="testimonial-sliders">
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="assets/img/avaters/avatar1.png" alt="">
							</div>
							<div class="client-meta">
								<h3>Parbiti Acharya <span>Local shop owner</span></h3>
								<p class="testimonial-body">
									"  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam placeat eveniet, magnam dicta libero dolore molestias quae deserunt velit nihil! "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="assets/img/avaters/avatar2.png" alt="">
							</div>
							<div class="client-meta">
								<h3>Janak Sharma <span>Local shop owner</span></h3>
								<p class="testimonial-body">
									"  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam placeat eveniet, magnam dicta libero dolore molestias quae deserunt velit nihil! "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="assets/img/avaters/avatar3.png" alt="">
							</div>
							<div class="client-meta">
								<h3>manoz khan <span>Local shop owner</span></h3>
								<p class="testimonial-body">
									"  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam placeat eveniet, magnam dicta libero dolore molestias quae deserunt velit nihil! "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<!-- end testimonail-section -->
	
	<!--company owner-->
	<div class="abt-section mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<div class="abt-bg">
						<img src="assets/img/avaters/1.jpg" alt=""></div>
				</div>
				<div class="col-lg-6 col-md-12">
					<div class="abt-text">
						<h2> <span class="orange-text">Follow to Us</span></h2>
						<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam placeat eveniet, magnam dicta libero dolore molestias quae deserunt velit nihil!</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente facilis illo repellat veritatis minus, et labore minima mollitia qui ducimus.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
<!--end of company owner-->
	<!-- jquery -->
	<script src="% static'assets/js/jquery-1.11.3.min.js' %"></script>
	<!-- bootstrap -->
	<script src="% static'assets/bootstrap/js/bootstrap.min.js' %"></script>
	<!-- count down -->
	<script src="% static'assets/js/jquery.countdown.js' %"></script>
	<!-- isotope -->
	<script src="% static'assets/js/jquery.isotope-3.0.6.min.js' %"></script>
	<!-- waypoints -->
	<script src="% static'assets/js/waypoints.js' %"></script>
	<!-- owl carousel -->
	<script src="% static'assets/js/owl.carousel.min.js' %"></script>
	<!-- magnific popup -->
	<script src="% static'assets/js/jquery.magnific-popup.min.js' %"></script>
	<!-- mean menu -->
	<script src="% static'assets/js/jquery.meanmenu.min.js' %"></script>
	<!-- sticker js -->
	<script src="% static'assets/js/sticker.js' %"></script>
	<!-- main js -->
	<script src="% static'assets/js/main.js' %"></script>

</body>
</html>